# Maven
log/
target/
.settings/
dependency-reduced-pom.xml

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

buildNumber.properties
*.project
*.settings
*.classpath
*.metadata
*.iml
*.idea
*.checkstyle
*.DS_Store
*.swp

